.results {
    background-color: #F5F6F7;
    height: 974px;
}

.results__container {
    margin: 0 auto 0;
    max-width: 1232px;
}

.results__title {
    margin: 0 0 64px;
    padding: 80px 0 0;

    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}

.results__button {
    background-color: #ffff;
    width: 288px;
    height: 64px;
    border: none;
    border-radius: 50px;
    padding: 0;

    display: block;
    margin: 64px auto 0;
}

.results__button:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

@media screen and (max-width: 768px) {
    .results {
        max-width: 768px;
        height: 654px;
    }

    .results__container {
        max-width: 688px;
        width: 100%;
    }

    .results__title {
        margin: 0 0 32px;
        padding: 40px 0 0;

        font-size: 30px;
        line-height: 34px;
    }

    .results__button {
        width: 240px;
        height: 56px;
    
        margin: 32px auto 40px;
    }
}


@media screen and (max-width: 480px) {
    .results {
        height: fit-content;
    }

    .results__container {
        max-width: 288px;
        width: 100%;
        justify-content: center;
    }

    .results__title {
        margin: 0 auto 58px;
        padding: 32px 0 0;
    }

    .results__button {
        width: 288px;
        margin: 16px 0 24px;
    }

}