.modal-form__input-container {
    margin: 22px 0 0 36px;
    padding: 0;
    width: 358px;

    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-form__input-container:first-of-type {
    margin: 22px 0 31px 36px;
    padding: 0;
}

.modal-form__input-container_type_username {
    margin: 31px 0 0 36px;
    padding: 0;
}

.modal-form__input-label {
    margin: 0 0 9px;
    padding: 0;

    color: #2F71E5;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.modal-form__input {
    margin: 0 0 16px;
    padding: 0 0 9px;

    color: #1A1B22;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(26, 27, 34, 0.2);
}

.modal-form__input:last-of-type {
    margin: 0;
}

.modal-form__input::placeholder {
    color: rgba(26, 27, 34, 0.2);
}

.modal-form__input:focus {
    outline-color: transparent;
    border-bottom: 1px solid rgba(26, 27, 34, 1);
}

.modal-form__error-message {
    margin: 0;
    padding: 0;
    color: #FF0000;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: 54px;
    visibility: hidden;
}

.modal-form__error-message_visible {
    visibility: visible;
}

.modal-form__button {
    width: 360px;
    height: 64px;
    margin: 38px auto 0;
    padding: 0;
    background-color: #2F71E5;
    color: #ffff;
    border: none;
    border-radius: 100px;
}

.modal-form__button-container {
    display: flex;
    justify-items: center;
}

.modal-form__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.modal-form__button_disabled {
    background-color: #E6E8EB;
    color: #B6BCBF;
}

.modal-form__text {
    margin: 16px auto 28px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px; 
}

.modal-form__link {
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;
    color: #2F71E5;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.modal-form__link:hover {
    opacity: 0.6;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .modal-form__input-container {
        margin: 30px auto 16px;
        width: 288px;
    }
    
    .modal-form__input-container:first-of-type {
        margin: 18px auto 30px;
        padding: 0;
    }
    
    .modal-form__input-container_type_username {
        margin: 30px auto 16px;
        padding: 0;
    }
    
    .modal-form__input {
        padding: 0 0 10px;
    }
    
    .modal-form__button {
        width: 288px;
        margin: 23px auto 0;
    }
}