.page {
  font-family: "Roboto-Slab", "Roboto", "Inter", serif;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  color: #1A1B22;
  background-color: #ffff;
  box-sizing: border-box;
}

.page-wrapper {
  padding: 22px 40px 18px;
}