.page {
  font-family: "Roboto-Slab", "Roboto", "Inter", serif;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  color: #1a1b22;
  background-color: #ffff;
  box-sizing: border-box;
}