.logo {
    text-decoration: none;
}

.logo__text {
    margin: 12px 0 0;
    padding: 0;
    font-family: 'Roboto Slab';
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.logo__text:hover {
    cursor: url('../../images/cursor_hover.svg');
}

.logo__text_black {
    color: #1A1B22;
}