.logo {
    text-decoration: none;
}

.logo__text {
    margin: 12px 0 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.logo__text:hover {
    cursor: url('../../images/cursor_hover.svg');
}

.logo__text_color_black {
    color: #1A1B22;
}

@media screen and (max-width: 768px) {
   .logo__text {
        margin: 8px 0 0;
   } 
}

@media screen and (max-width: 480px) {
    .logo__text {
        margin: 0;
        font-size: 16px;
    }
}