.saved-news {
    height: 100vh;
    width: 100%;
}

.saved-news__text-container {
    margin: 0 auto 0;
    width: 1220px;
}

.saved-news__title {
    margin: 40px 0 0;
    padding: 0;

    color: rgba(26, 27, 34, 0.5);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.saved-news__saved {
    width: 530px;
    margin: 28px 0 0;
    padding: 0;

    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}

.saved-news__keywords {
    margin: 30px 0 56px;
    padding: 0;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.saved-news__news-container {
    margin: 0;
    padding: 62px 0 62px;

    background-color: #F5F6F7;
}

.saved-news__cards {
    width: 1220px;
    height: auto;
    margin: 0 auto 0;

    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
    grid-gap: 16px 8px;
}


@media screen and (max-width: 768px) {
    .saved-news__text-container {
        width: 712px;
    }
    
    .saved-news__title {
        margin: 24px 0 0;

        font-size: 14px;
        line-height: 24px;
    }
    
    .saved-news__saved {
        width: 336px;
        margin: 16px 0 0;

        font-size: 30px;
        line-height: 34px;
    }
    
    .saved-news__keywords {
        margin: 16px 0 32px;
    }
    
    .saved-news__news-container {
        padding: 32px 0 32px;
    
        background-color: #F5F6F7;
    }
    
    .saved-news__cards {
        width: 688px;

        grid-template-columns: repeat(3, minmax(0, 224px));
        grid-gap: 8px 8px;
    }
}