.about {
    margin: 80px 0 80px 104px;
    padding: 0;
    width: 100%;
}

.about__container {
    display: grid;
    grid-template-columns: 464px 1fr;
    grid-gap: 56px;
}

.about__author {
    width: 464px;
    height: 464px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    grid-column: 1;
}

.about__text-container {
    width: 600px;
    grid-column: 2;
}

.about__title {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;

    margin: 51px 0 24px 0;
    padding: 0;
}

.about__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}