.about {
    margin: 80px 0 80px 0;
    padding: 0;
    width: 100%;
}

.about__container {
    margin: 0 auto 0;
    max-width: 1220px;
    width: 100%;
    display: grid;
    grid-template-columns: 464px 1fr;
    grid-gap: 56px;
}

.about__author {
    width: 464px;
    height: 464px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    grid-column: 1;
}

.about__text-container {
    max-width: 600px;
    width: 100%;
    grid-column: 2;
}

.about__title {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;

    margin: 51px 0 24px 0;
    padding: 0;
}

.about__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 768px) {
    .about {
        margin: 40px 0 61px 0;
    }

    .about__container {
        max-width: 768px;
        grid-template-columns: 232px 1fr;
        grid-gap: 32px;
    }
    
    .about__author {
        margin: 21px 0;
        width: 232px;
        height: 232px;
        grid-column: 1;
    }
    
    .about__text-container {
        max-width: 424px;
        grid-column: 2;
    }
    
    .about__title {
        font-size: 30px;
        line-height: 40px;
    
        margin: 0 0 16px 0;
    }
}



@media screen and (max-width: 480px) {
    .about {
        margin: 32px 0 128px 0;
    }

    .about__container {
        margin: 0 16px 0;
        max-width: 480px;
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: 272px 1fr;
        grid-gap: 24px;
    }
    
    .about__author {
        margin: 0;
        width: 272px;
        height: 272px;
        grid-column: 1;
        grid-row: 1;
    }
    
    .about__text-container {
        max-width: 288px;
        grid-column: 1;
        grid-row: 2;
    }
    
    .about__title {
        font-size: 30px;
        line-height: 40px;
    }
}