.search-form {
    background-image: url('../../images/Background-iPhone.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 576px;
    margin: 0;
    padding: 0;
}

.search-form__container {
    margin: 0 auto 0;
    padding: 80px 0 0 0;
    width: 608px;
    display: flex;
    flex-direction: column;
}

.search-form__text {
    margin: 0;
    padding: 0;

    color: #ffff;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
}

.search-form__subtext {
    margin: 0;
    padding: 0;

    color: #ffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.search-form__bar {
    max-width: 608px;
    height: 64px;
    position: relative;
    display: flex;
}

.search-form__input {
    color: #1A1B22;
    width: 608px;
    height: 100%;
    border-radius: 100px;
    border: none;
    padding: 0 0 0 24px;
}

.search-form__input:focus {
    outline: none;   
}

.search-form__button {
    width: 168px;
    height: 64px;
    padding: 18px 56px 22px;
    position: absolute;
    right: 0;

    color: #ffff;
    background-color: #2F71E5;
    border: none;
    border-radius: 100px;
}