.header {
   max-height: 80px;
   padding: 19px 0 10px; 
   border-bottom: 3px solid rgba(196, 196, 196, 0.1);
}

.header__container {
    max-width: 1220px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        max-height: 40px;
        height: 100%;
        padding: 14px 0 12px;
    }

    .header__container {
        max-width: 688px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        max-height: 24px;
        height: 100%;
    }
}