.header {
   max-height: 48px;
   padding: 19px 0 10px; 
   border-bottom: 3px solid rgba(196, 196, 196, 0.1);
}

.header__container {
    height: 100%;
    margin: 0 104px 0;
    display: flex;
    justify-content: space-between;
}