.footer {
    margin: 0 104px 26px 104px;
    padding: 30px 0 0;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    margin: 2px 0 0;
    padding: 0;
    color: #B6BCBF;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__container {
    max-width: 416px;
    display: grid;
    grid-template-columns: 117px 192px 40px 72px;
}

.footer__home {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1A1B22;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    justify-self: center;
}

.footer__home:hover {
    cursor: pointer;
    opacity: 0.6;
}

.footer__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    justify-self: center;
}

.footer__link-container {
    display: flex;
    justify-content: space-between;
    grid-column: 4;
}

.footer__link {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

.footer__link:hover {
    cursor: pointer;
}