.card-list {
    margin: 0;
}

.card-list__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(244px, 400px));
    grid-gap: 16px;
}

.card-list__button {
    background-color: #ffff;
    width: 288px;
    height: 64px;
    border: none;
    border-radius: 50px;
    padding: 0;

    display: block;
    margin: 64px auto 0;
}

.card-list__button:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

@media screen and (max-width: 768px) {
    .card-list {
        max-width: 688px;
        margin: 0;
    }

    .card-list__container {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 8px;
    }

    .card-list__button {
        width: 240px;
        height: 56px;
    
        margin: 32px auto 40px;
    }
}

@media screen and (max-width: 480px) {
    .card-list {
        width: 288px;
    }

    .card-list__container {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-gap: 10px;
    }

    .card-list__button {
        width: 288px;
        margin: 16px 0 24px;
    }
}