.card-list {
    margin: 0 auto 0;
    width: 1232px;
}

.card-list__container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .card-list {
        width: 688px;
    }

    .card-list__container {
        grid-template-columns: repeat(3, 224px);
        grid-gap: 8px;
    }
}

@media screen and (max-width: 480px) {
    .card-list {
        width: 288px;
    }

    .card-list__container {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-gap: 10px;
    }
}