.wrong {
    margin: 0 auto 0;
    padding: 80px 0;
    width: 356px;
    height: 214px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrong_hidden {
    display: none;
}

.wrong__text {
    margin: 0 0 16px 0;
    padding: 0;

    color: #1A1B22;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.wrong__horizontal-line {
    width: 100%;
    border-top: 3px dotted #B6BCBF;
}

.wrong__subtext {
    margin: 8px 0 0;
    padding: 0;

    color: #B6BCBF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}