.not-found {
    margin: 0 auto 0;
    padding: 80px 0;
    width: 356px;
    height: 214px;
    text-align: center;
}

.not-found__icon {
    width: 96px;
    height: 96px;
}

.not-found__text {
    margin: 24px 0 16px 0;
    padding: 0;

    color: #1A1B22;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.not-found__subtext {
    margin: 0;
    padding: 0;

    color: #B6BCBF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}