.news-card {
    margin: 0;
    padding: 0;
    max-width: 400px;
    width: 100%;   
}

.news-card__container {
    margin: 0;
    padding: 0;
    border-radius: 4%;
    background-color: #ffff;
    position: relative;
}

/** Disallows users to save articles if not signed in. Warning message **/
.news-card__warning {
    margin: 0;
    padding: 13px 35px;
    max-width: 182px;
    background-color: #ffff;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    right: 70px;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.news-card__warning_hidden {
    display: none;
}

/** Info card that displays article's keyword **/
.news-card__keyword {
    margin: 0;
    padding: 8px 22px;
    max-width: 182px;
    background-color: #ffff;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    left: 24px;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;  
}

.news-card__keyword_hidden {
    display: none;
}

.save-button {
    background-image: url('../../images/Save-Button/Save_default.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;

    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 24px;
    top: 24px;
}

.save-button_active {
    background-image: url('../../images/Save-Button/Save_active.png');
}

.save-button:hover {
    background-image: url('../../images/Save-Button/Save_hover.png');
    cursor: pointer;
}

.save-button__active:hover {
    cursor: pointer;
    opacity: 0.6;
}

.delete-button {
    background-image: url('../../images/Delete-Button/trash-button_default.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;

    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 24px;
    top: 24px;
}

.delete-button:hover {
    background-image: url('../../images/Delete-Button/trash-bin_hover.svg');
    cursor: pointer;
}

.news-card__image {
    margin: 0;
    padding: 0;

    width: 400px;
    height: 272px;
    object-fit: cover;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.news-card__text-container {
    margin: 17px 0 0;
    padding: 0 24px 24px;
}

.news-card__date {
    margin: 0 0 12px 0;
    padding: 0;

    font-family: 'Roboto';
    color: #B6BCBF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.news-card__title {
    margin: 0 0 16px 0;
    padding: 0;

    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.news-card__text {
    margin: 0;
    padding: 0;
    width: 352px;
    height: 110px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.news-card__source {
    margin: 18px 0 0;
    padding: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-family: 'Roboto Slab';
    color: #B6BCBF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 768px) {
    .news-card {
        max-width: 224px;
    }

    .news-card__warning {
        max-width: 120px;
    }

    .news-card__keyword {
        margin: 0;
        padding: 8px 20px;
        max-width: 120px;
    }

    .save-button {
        right: 8px;
        top: 8px;
    }
    
    .delete-button {
        right: 8px;
        top: 8px;
    }

    .news-card__image {
        width: 224px;
        height: 150px;
    }
    
    .news-card__text-container {
        margin: 16px 0 0;
        padding: 0 16px 16px 15px;
    }
    
    .news-card__title {
        margin: 0 0 10px 0;
        font-size: 22px;
        line-height: 24px;
    }
    
    .news-card__text {
        margin: 0;
        padding: 0;
        width: 192px;
        height: 88px;
    }
    
    .news-card__source {
        margin: 12px 0 0;
        padding: 0;
    }
}