.news-card {
    margin: 0;
    padding: 0;
    max-width: 400px;
    width: 100%;   
}

.news-card__container {
    margin: 0;
    padding: 0;
    border-radius: 4%;
    background-color: #ffff;
    position: relative;
}

.auth-error {
    margin: 0;
    padding: 13px 35px;
    max-width: 182px;
    background-color: #ffff;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    right: 70px;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.auth-error_hidden {
    display: none;
}

.save-button {
    background-image: url('../../images/Save-Button/Save_default.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;

    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: 24px;
    top: 24px;
}

.save-button_active {
    background-image: url('../../images/Save-Button/Save_active.png');
}

.save-button:hover {
    background-image: url('../../images/Save-Button/Save_hover.png');
    cursor: pointer;
}

.save-button__active:hover {
    cursor: pointer;
    opacity: 0.6;
}

.news-card__image {
    margin: 0;
    padding: 0;

    width: 400px;
    height: 272px;
    object-fit: cover;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.news-card__text-container {
    margin: 17px 0 0;
    padding: 0 24px 24px;
}

.news-card__date {
    margin: 0 0 12px 0;
    padding: 0;

    font-family: 'Roboto';
    color: #B6BCBF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.news-card__title {
    margin: 0 0 16px 0;
    padding: 0;

    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.news-card__text {
    margin: 0;
    padding: 0;
    width: 352px;
    height: 110px;
    text-overflow: ellipsis;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.news-card__source {
    margin: 18px 0 0;
    padding: 0;

    font-family: 'Roboto Slab';
    color: #B6BCBF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}