.news-card {
    margin: 0;
    padding: 0;

    max-width: 400px;
    width: 100%;
    /* background-color: #ffff; */
    background-color: gray;
    border-radius: 4%;
}

.news-card__image {
    margin: 0;
    padding: 0;

    width: 400px;
    height: 272px;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.news-card__container {
    margin: 0;
    padding: 20px 24px 24px;
}

.news-card__date {
    margin: 0 0 12px 0;
    padding: 0;

    font-family: 'Roboto';
    color: #B6BCBF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.news-card__title {
    margin: 0 0 16px 0;
    padding: 0;

    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.news-card__text {
    margin: 0;
    padding: 0;
    width: 352px;
    height: 110px;
    text-overflow: ellipsis;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.news-card__source {
    margin: 18px 0 0;
    padding: 0;

    font-family: 'Roboto Slab';
    color: #B6BCBF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}